.split 
{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left 
{
  left: 0;
  opacity: 1.0;
}


.right { right: 0; background-color: white;}

.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
}

.centered img 
{
  width: 150px;
  border-radius: 50%;
}

@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap");
.h1 {
  margin: auto;
  font-family: "Turret Road", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
}
