html, body{
    margin:0;
    padding:0;
    background-color:hsl(195, 100%, 7%);
}

#canvas{
    margin:0 auto;
    display:block;
    filter:url('#shadowed-goo');
    position: absolute;
}

svg{
  display:none;
}




.center 
{
  
  box-shadow: 0 0.25rem 0.5rem #12181e;
  border-radius: 0.4rem 0.4rem 0.5rem 0.5rem;
  

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 25%;

}


.terminal,span,.cmd,
        div {
            --color: rgba(255, 255, 255, 0.99);
            
            --background: #232323;
            }
        .terminal,
        span {--size: 1.2;}
        .terminal{box-sizing:border-box;height:60%;width:50%;}

.terminal
{
    border-color: red;
    position: absolute;
    left: 0;
    right: 0;

}

nav 
{
    
    height: 7%;
    width: 50%;
    
    background-color: white;
    display: flex;
    align-items: center;
    opacity: 80%;
    border-radius: 0.3rem 0.3rem 0 0;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 19%;
}

.btn::before, .btn::after, .btn 
{
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: block;
}

.btn {
  background: #f6b73e;
  position: relative;
  margin-left: 38px;

}
.btn::before, .btn::after {
  content: " ";
  position: absolute;
}
.btn::before {
  background: #f55551;
  margin-left: -20px;
}
.btn::after {
  background: #32c146;
  margin-left: 20px;
}
       